
@import url('https://fonts.googleapis.com/css?family=Vibur|Lobster');
.buttons {
  font-family: 'Vibur', sans-serif;
}
#calculator {
  position: relative;
}

input {
  text-align: right;
  font-size: 30px !important;
  color: #fafafa !important;
  height: 80px !important;
  border-radius: 0 !important;
  background-color: #202833 !important;
  border-color: #202333 !important;
}

#calculator-inner {
  position: absolute;
  top: 35px;
  text-align: center;
  background: #616161;
}

.ac, .ce {
  padding: 15px 15px !important;
}

.num, .dot, .equal{
  background: #202833;
}

.operator {
  background: #19bd9b;

}

.ac {
  background: #616161;
}
.ce {
  background: #ff4436;
}


.buttons div {
  color: #ffffff;
  border: solid 1px transparent;
  padding: 33px 10px;
  font-size: 20px;
  transition: ease-in-out 0.2s;
}

.buttons div:hover {
  cursor: pointer;
  opacity: 0.8;
}

.footer {
  background: #414141;
  padding: 10px 10px;
}

.footer {
 font-family: 'Vibur', sans-serif; 
  color: #ffffff;
  font-size: 15px;
}

a {
  text-decoration: none;
  color: #fafafa;
  transition: linear 0.3s;
}

a:hover {
  text-decoration: none;
  color: #212121;
}